{% extends 'layout.html'%}
{% load static %}
{% block content %}
    <h1> {{ title }}</h1>
    {% for i in film_list%}
        <div class="card" style="width: 18rem; margin:10px">
            <img src="{{ i.image.url }}" style="width:200px; height:200px; margin:30px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">{{ i.genre.title }}</p>
                     <a href="/films/{{i.id}}" class="btn btn-primary">More...</a>
                </div>
</div>
        {% endfor %}
{% endblock %}